

.btn-group button{
	
	background-color: #4CAF50; 
	border: 1px solid green; 
	color: white; 
	padding: 10px 24px; 
	cursor: pointer; 
	width: 50%; 
	display: block; 

	}
	
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group button:hover {
  background-color: #3e8e41;
}